<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>세무회계 리펀드랩</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<link rel="stylesheet" href="./style/css/main.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="./js/main.js" defer></script>
	<link rel="icon" type="image/x-icon" href="./public/favicon.svg"/>
</head>
<body>
	<header class="header">
			<div class="header-inner">
				<img class="logo" src="./assets/img/logo.svg" alt="리펀드랩 로고">
				<div class="btn-group">
					<a href="카카오채팅 링크 연결" class="btn primary-btn">
						무료상담 신청하기
					</a>
					<a href="https://ydm.refundking.co.kr/" target="_blank" class="btn refund-btn">
						양도세 환급금 조회하기
						<img src="./assets/img/right_arrow.svg" class="btn-arrow" alt="양도세 페이지 이동 아이콘">
					</a>
				</div>
			</div>
		</header>
</body>
</html>